/*
    Theme Name: Byrne-Systems
    Theme URI: http://www.byrne-systems.com
    Description: Web & Software Design & Development
    Author: Justin D Byrne
    Author URL: http://www.byrne-systems.com
    License: MIT License (MIT)
    License URL: https://github.com/justinbyrne001/myPercentile/blob/master/LICENSE.md
    Text Domain: Byrne-Systems
    Version: 1
*/

/* Web-fonts */
@font-face { font-family:'akashi';
    src: url('../fonts/akashi-webfont.eot');
    src: url('../fonts/akashi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akashi-webfont.woff') format('woff'),
         url('../fonts/akashi-webfont.ttf') format('truetype'),
         url('../fonts/akashi-webfont.svg#akashiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face { font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-r7uf0m');
    src:url('../fonts/icomoon.eot?#iefix-r7uf0m') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-r7uf0m') format('woff'),
        url('../fonts/icomoon.ttf?-r7uf0m') format('truetype'),
        url('../fonts/icomoon.svg?-r7uf0m#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face { font-family: 'lobster';
    src: url('../fonts/lobster_1.3-webfont.eot');
    src: url('../fonts/lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lobster_1.3-webfont.woff') format('woff'),
         url('../fonts/lobster_1.3-webfont.ttf') format('truetype'),
         url('../fonts/lobster_1.3-webfont.svg#lobster_1.3regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face { font-family: 'titillium';
    src: url('../fonts/titillium-regular-webfont.eot');
    src: url('../fonts/titillium-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titillium-regular-webfont.woff') format('woff'),
         url('../fonts/titillium-regular-webfont.ttf') format('truetype'),
         url('../fonts/titillium-regular-webfont.svg#titilliumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* { /* Set Border-Box */
    -webkit-box-sizing:border-box;                                    /* -webkit:Safari, Chrome */
     -khtml-box-sizing:border-box;                                    /* -khtml:Konqueror */
       -moz-box-sizing:border-box;                                    /* -moz:Mozilla */
        -ms-box-sizing:border-box;                                    /* -ms:Microsoft */
         -o-box-sizing:border-box;                                    /* -o:Opera */
            box-sizing:border-box;                                    /* CSS3 */
}

/* HTML ELEM */
html, body { height:100%; }                                           /* Height */

body {
    background-color:#FFFFFF;                                         /* Background-color */
    margin: 0;                                                        /* Margin */
    padding: 0;                                                       /* Padding */
}

/* HEADER */
header h1 {
    margin:0;                                                         /* Margin */
    font-family:'titillium';                                          /* Font-family */
    font-size:5rem;                                                   /* Font-size */
    text-align:center;                                                /* Text-align */
    color:#2B5981;                                                    /* Color */
    text-shadow:0em 0.05em 0.125em #000;                              /* Text-shadow */
}

/* GRID */
div.grid {
    padding-bottom:40px;                                              /* Padding-bottom */
}

div.c3, div.c6 {
    margin-bottom:1rem;                                               /* Margin-bottom */
    text-align:center;                                                /* Text-align */
}

div.c9 {
    padding-top: 1rem;                                                /* Padding-top */
    font-family:'titillium';                                          /* Font-family */
    font-size:3rem;                                                   /* Font-size */
}

div.c12 {
    padding:2rem 0;                                                   /* Padding */
    border:1px dashed #000;                                           /* Border */
    text-align:center;                                                /* Text-align */
    background-color:#FFFFFF;                                         /* Background-color */
}

/* Percentile Progress */
div.grid div.row div.c12 div.prog-percent:first-child {
    padding-left:1em;                                                 /* Padding-left */
}

div.grid div.row div.c12 div.prog-percent {
    text-align:center;                                                /* Text-align */
    display:inline-block;                                             /* Display */
    padding-right:1em;                                                /* Padding-right */
}

div.grid div.row div.c12 div.prog-name {
    position:relative;                                                /* Position */
    font-family:'akashi';                                             /* Font-family */
    font-size:1.5rem;                                                 /* Font-size */
}

/* INFO */
div.info { border-right:none; }                                       /* Border-right */

/* CANVAS ELEM */
canvas {
    padding:1rem 1em;                                                 /* Padding */
    border:1px #000000 solid;                                         /* Border */

    /* Box-Shadow */
    -webkit-box-shadow:0em 0.125em 0.5em #000000;                     /* -webkit: Safari, Chrome */
       -moz-box-shadow:0em 0.125em 0.5em #000000;                     /* -moz: Mozilla */
            box-shadow:0em 0.125em 0.5em #000000;                     /* CSS3 */
}

div#canvas { padding:1rem 1em; }                                      /* Padding */

/* DOWNLOAD CONTENT */
div.download-content ul#nav li a {
    text-decoration:none;
    color:#FAFAFA;                                                    /* Color */
}

div.download-content ul#nav li {
    padding:0.05rem 0em;                                              /* Padding */
    margin-left:-0.75em;                                              /* Margin-left */
    margin-bottom:1rem;                                               /* Margin-bottom */
    font-family:'lobster';                                            /* Font-family */
    font-size:2.5rem;                                                 /* Font-size */
    list-style-type:none;                                             /* List-style-type */
    text-shadow:0em 0.1em 0.125em #000;                               /* Text-shadow */

    /* Border-radius */
    -webkit-border-radius:0.25em;                                     /* -webkit: Safari, Chrome */
     -khtml-border-radius:0.25em;                                     /* -khtml: Konqueror */
       -moz-border-radius:0.25em;                                     /* -moz: Mozilla */
        -ms-border-radius:0.25em;                                     /* -ms: Microsoft */
         -o-border-radius:0.25em;                                     /* -o: Opera */
            border-radius:0.25em;                                     /* CSS3 */

    cursor:pointer;                                                   /* Cursor */

    /* CSS3 Transitions */
    -webkit-transition:background-color 1s linear;                    /* -webkit: Safari, Chrome */
     -khtml-transition:background-color 1s linear;                    /* -khtml: Konqueror */
       -moz-transition:background-color 1s linear;                    /* -moz: Mozilla */
        -ms-transition:background-color 1s linear;                    /* -ms: Microsoft */
         -o-transition:background-color 1s linear;                    /* -o: Opera */
            transition:background-color 1s linear;                    /* CSS3 */
}

/* Download Regular */
div.download-content ul#nav li:first-child {
    background-color:#8E05D9;                                         /* Background-color */

    /* Box-Shadow */
    -webkit-box-shadow:0em 0.125em 0em #5F0491;                       /* -webkit: Safari, Chrome */
       -moz-box-shadow:0em 0.125em 0em #5F0491;                       /* -moz: Mozilla */
            box-shadow:0em 0.125em 0em #5F0491;                       /* CSS3 */
}

div.download-content ul#nav li:first-child:hover {
    background-color:#B34DEB;                                         /* Background-color */

    /* Box-Shadow */
    -webkit-box-shadow:0em 0.125em 0em #5F0491;                       /* -webkit: Safari, Chrome */
       -moz-box-shadow:0em 0.125em 0em #5F0491;                       /* -moz: Mozilla */
            box-shadow:0em 0.125em 0em #5F0491;                       /* CSS3 */
}

div.download-content ul#nav li:first-child:active {
    position:relative;                                                /* Position */
    top:0.063em;                                                      /* Top */

    /* Box-shadow */
    -webkit-box-shadow:0em 0.062em 0em #5F0491;                       /* -webkit: Safari, Chrome */
       -moz-box-shadow:0em 0.062em 0em #5F0491;                       /* -moz: Mozilla */
            box-shadow:0em 0.062em 0em #5F0491;                       /* CSS3 */
}

div.download-content ul#nav li:first-child::after {
    color:#97FFCD;                                                    /* Color */
    font-family:'icomoon';                                            /* Font-family */
    font-size:2rem;                                                   /* Font-size */
    content:'\e617';                                                  /* Content */
}

/* Go to GitHub */
div.download-content ul#nav li:last-child {
    background-color:#0B49D9;                                         /* Background-color */

    /* Box-Shadow */
    -webkit-box-shadow:0em 0.125em 0em #093292;                       /* -webkit: Safari, Chrome */
       -moz-box-shadow:0em 0.125em 0em #093292;                       /* -moz: Mozilla */
            box-shadow:0em 0.125em 0em #093292;                       /* CSS3 */
}

div.download-content ul#nav li:last-child:hover {
    background-color:#5683EB;                                         /* Background-color */

    /* Box-Shadow */
    -webkit-box-shadow:0em 0.125em 0em #093292;                       /* -webkit: Safari, Chrome */
       -moz-box-shadow:0em 0.125em 0em #093292;                       /* -moz: Mozilla */
            box-shadow:0em 0.125em 0em #093292;                       /* CSS3 */
}

div.download-content ul#nav li:last-child:active {
    position:relative;                                                /* Position */
    top:0.063em;                                                      /* Top */

    /* Box-shadow */
    -webkit-box-shadow:0em 0.062em 0em #093292;                       /* -webkit: Safari, Chrome */
       -moz-box-shadow:0em 0.062em 0em #093292;                       /* -moz: Mozilla */
            box-shadow:0em 0.062em 0em #093292;                       /* CSS3 */
}

div.download-content ul#nav li:last-child::after {
    color:#97FFCD;
    font-family:'icomoon';                                            /* Font-family */
    font-size:2rem;                                                   /* Font-size */
    content:'\e620';                                                  /* Content */
}

/* Footer */
footer {
    position:relative;                                                /* Position */
    float:left;                                                       /* Float */
    bottom:0;                                                         /* Bottom */
    display:block;                                                    /* Display */
    width:100%;                                                       /* Width */
    height:40px;                                                      /* Height */
    padding:0.25rem 0 0.25rem 0.5em;                                  /* Padding */
    background-color:#ccc;                                            /* Background-color */
    border-top:0.1008em solid #333;                                   /* Border-top */
    border-bottom:1px solid #333;                                     /* Border-bottom */
    font-family:sans-serif;                                           /* Font-family */
    font-size:1.2rem;                                                 /* Font-size */
    text-shadow:0em 0.125em 0.2em #666;                               /* Font-shadow */
}

footer a {
    text-decoration:none;                                             /* Text-decoration */
    color:#242424;                                                    /* Color */
}

/* Media Queries */
@media only screen and (min-width:1200px){
    footer { position:absolute; }                                     /* Footer */
}